@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsla(217, 12%, 63%, 0.526); 
    --MediumGrey: hsl(216, 12%, 54%) ;
    --DarkBlue: hsl(213, 19%, 18%) ;
    --VeryDarkBlue: hsl(216, 12%, 8%)
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',
    sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: var(--VeryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section,.main-section2{
    background-color: var(--DarkBlue);
    width: 30%;
    height: 40vh;
    border-radius: 5%;
    z-index: 1;
}
.main-section2{
    position: absolute;
    z-index: 0;
    color: white;
}
.star{
    background-color: var(--MediumGrey);
    width: 10%;
    height: 4vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7% 0 0 5%;
}
.a{
        width: 90%;
        margin:8% auto auto 5%;
        display: flex;
        align-items: center;
        color: white;
}
.how{

    height: 3vh;

}
.please{
height:9vh ;
color: var(--LightGrey);
margin-top:0;
}
.numbers{
    width: 90%;
    height: 5vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.numbers p{
    width: 15%;
    height: 5vh;
    background-color:rgb(68, 64, 64) ;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.5s;
}
.numbers p:hover{
    background-color: var(--Orange);
}
#submit{
    background-color:var(--Orange) ;
    color: white;
    width: 80%;
    height: 5vh;
    border-radius: 20px;
    margin:10%;
    border: transparent;
    font-weight: 600;
    font-size: 18px;
    transition: 0.5s;
}
#submit:hover{
    background-color: white;
    color: var(--Orange);
}
#gg{
    background-color:var(--MediumGrey)
}
.main-section2 svg{
    margin:20px 0 0 25%;
}
#please{
    width: 50%;
    margin:10px auto;
    height: 4vh;
    background-color:var(--LightGrey) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Orange);
    border-radius: 20px;
}
.main-section2 h1{
    margin:10% auto auto 30%;
 
}
.widt{
    margin:0% auto;
    width: 90%;
    text-align: center;
}
#back{
    color: white;
    background-color: orange;
    border-radius: 20px;
    width: 50px;
margin:5px auto;
text-align: center;
}
@media (max-width:680px) {
    .main-section,.main-section2{
        width: 90%;
    }
    #please{
        width: 60%;
    }
}
